*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    cursor:default;
}
body {
    background: linear-gradient(-45deg, #81848b, #3d3131, #232930, #1b1d1f, #968e86);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: "Garamond" ,serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}
.logo {
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: 600;
}
.navigation, a {
    font-size: 18px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    transition: .7s;
}

.navigation a:hover {
    color: black;
}

.navigation a:hover {
    color: beige;
}

.home {
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 0 11.7%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: beige;
}
.home-content p {
    font-size: 16px;
    font-weight: 700;
    margin: 20px 0 40px;
}
.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    background: transparent;
    
}

.profilePic {
    float: right;
    margin-top: 15%;
    margin-right: 20%;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: beige;
    border: 2px solid beige;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
   
}
.btn-box a:hover {
    color: beige;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color:beige
}

.btn-box a:nth-child(2):hover {
    color:#3d3131;
}
.btn-box a:nth-child(2)::before {
    background: beige;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #5d5e5f;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover:before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between ;
}

.home-sci a {
    position: relative;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid beige;
    border-radius: 8px;
    font-size: 20px; 
    color:beige;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: beige;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover:before {
    width: 100%;
}

/* Above is the home page */

/* Below is the About page */


.headerAboutUs {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(AboutMePicPlaceholder.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height:800px;
}
.title {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#081b29;
    text-align:center;
    font-size: 400%;
    font-weight: 300px;
    word-spacing: 4;
    text-shadow:0in 0in 0.1in beige;
}

.basicInfo {
    float: left;
    margin-top: 0%;
    text-align:center;
    text-shadow:0in 0in 0.1in beige;
    height: 1200px;
    font-size: 40px;
    font-weight: 700;
    width: 50%;
}

.basicInfo h3 {
    line-height: 1.2;
    margin: 20px 0 40px;
    margin-top: 5%;
}

.basicInfo p {
    padding: 0 11.7%;
    text-align:left;
    font-size: 25px;
    font-weight: 700;
    width: 100%;
    
}

.somethingcool {
    float: right;
    margin-right: -50%;
    margin-top: -30%;
}

.funfacts {
    float: left;
    margin-top: 0%;
    text-align:center;
    text-shadow:0in 0in 0.1in beige;
    height: 800px;
    font-size: 40px;
    font-weight: 700;
    width: 50%;
    margin: 160px;
}

.funfacts h3 {
    line-height: 1.2;
    margin: 20px 0 40px;
    margin-top: 5%;
}

.funfacts p {
    padding: 0 11.7%;
    text-align:left;
    font-size: 25px;
    font-weight: 700;
    width: 100%;
}

.somethingfun {
    float: right;
    margin-right: -50%;
    margin-top: 30%;
}

